* {
    background-color: cyan;
}
header {
	margin: 1rem auto;
	display: flex;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    justify-content: center;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    display: flex;
    justify-content: center;
}
main{
    text-align: center;
}
div img{
    width: 100vw;
    height: 100vh;
}
head{
    display: grid;
    grid-template-areas: "topbar topbar";
    grid-template-columns:  1fr 1fr;
    justify-content: center;
}
nav {
	text-align: right;
    display: flex;
    justify-content: center;
    background-color: white;
}
body section{
    display: grid;
}
body section p{
    background-color: white;
    width: 100px;
    align-items: baseline;
}
fieldset{
    align-items: center;
    text-align: center;
    background-color: white;
    justify-content: center;
    width: 350px;
    border: none;
}
fieldset legend{
    background-color: white;
    width: 500px;
}
fieldset input{
    background-color: white;
}
fieldset label{
    background-color: white;
}
fieldset button{
    background-color: white;
}
footer p{
    text-align: center;
}
footer img{
    float:right;
    height: auto;
    width: 20px;
}
form{
    align-items: center;
    text-align: center;
    background-color: white;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
}
form p{
    background-color: white;
    border: 20px;
    width: 500px;
}
form button{
    background-color: white;
}
