header {
	margin: 1rem auto;
	display: flex;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    justify-content: center;
}
main section{
    text-align: center;
    justify-content: center;
}
main img{
    justify-content: center;
}
section h1{
    text-align: center;
}
.history{
    text-align: center;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    display: flex;
    justify-content: center;
}

h3 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
    justify-content: center;

}

nav {
	text-align: right;
    display: flex;
    justify-content: center;
}
.hero img{
    margin: 0 0.25rem 0 1rem;
	width: 300px;
	height: auto;
    justify-content: space-evenly;
}
p {
    text-align: center;
}
.hero h1{
    text-align: center;
}
footer p{
    text-align: center;
}
article img{
    float: right;
    display: flex;
}
footer img{
    float: right;
    height: auto;
    width: 20px;
}
fieldset{
    align-items: center;
    text-align: center;
    border: 20px;
    width: auto;
    
}
label{
    text-align: center;
}
div map{
    align-items: center;
}